// RESPONSIVE BREAKPOINTS (bp-<size>)
$bp-sm: "576px";
$bp-md: "768px";
$bp-lg: "992px";
$bp-xl: "1200px";
body {
    padding-top: 15px;
    background-color: #282828;
    color: white;
    font-family: 'Nunito Sans';
}

.search-bar {
    background-color: #0c0032;
    border-radius: 5px;
    padding: 2.5rem;
}

#searchForm {
    display: flex;
    button {
        width: 55px;
        padding: 0.4rem;
        outline: none;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0.1rem;
        transition: 200ms linear;
        &:hover {
            cursor: pointer;
        }
    }
    input {
        border-radius: 4px;
        margin: 0 0.4rem;
    }
}

.search-form {
    display: flex;
    justify-content: center;
}

.results-container {
    width: 100%;
    max-width: 65rem;
    margin: 0 auto;
    #resultsList {
        list-style: none;
        margin: 0;
        padding: 0;
        .result-card {
            margin: 0.5rem 0;
            display: block;
            padding: 0.85rem 1rem;
            background-color: white;
            border-radius: 3px;
            color: #2b2b2b;
            .bold {
                font-weight: 700;
            }
            .google-icon {
                transition: 200ms ease-in-out;
                width: 40px;
                height: 40px;
                opacity: 0.7;
                &:hover {
                    transform: scale(1.1);
                    opacity: 1;
                }
            }
        }
    }
}

#searchButton {
    border: 3px solid rgb(33, 188, 88);
    color: rgb(33, 188, 88);
}

#clearButton {
    border: 3px solid rgb(188, 33, 88);
    color: rgb(188, 33, 88);
}

@media only screen and (min-width: $bp-xl) {
    #clearButton:hover {
        background-color: rgb(188, 33, 88);
        color: white;
    }
    #searchButton:hover {
        background-color: rgb(33, 188, 88);
        color: white;
    }
}

#searchInput {
    padding: 0.7rem 0.9rem;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
    width: 16rem;
    max-width: 100%;
}